html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.content {
	width: 960px;
	margin: 0 auto;
}

.challenges {
	width: 550px;
	margin: 0 auto;
}

.challenge-form {
	width: 100%;
	margin-bottom: 25px;
}

.each-challenge {
	width: 100%;
	position: relative;
}

.challenge-info {
	display: inline-block;
}

.challenge-info-line {
	margin-bottom: 10px;
}

.input {
	width: 150px;
	height: 30px;
	border-radius: 15px;
	outline: none;
	border: none;
}

.confirm {
	background-color: #2874A6;
}

.delete {
	background-color: #ba001b;
}

.button-top {
	margin-bottom: 10px;
}

.challenge-buttons {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}