@CHARSET "ISO-8859-1";

html {
	width: 100%;
	height: 100%;
	background-image: url("ff.jpg");
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

body {
	width: 100%;
	height: 100%;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
}

.container {
	position: relative;
	background-color: #DDC5A2;
	padding-bottom: 15px;
}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.form {
	list-style-type: none;
	background-color: #B6452C;
	margin-top: 25%;
}

section {
	float: right;
}

section design {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 30px;
	text-decoration: none;
	font-style: italic;
	font-size: 20px;
}

design:hover:not (.active ){
	background-color: silver;
}

.fa-address-book-o:HOVER {
	
}

.top {
	color: white;
}

.active {
	background-color: black;
}

.icon-form {
	margin-top: 20px;
	margin-left: 20%;
	float: left;
	color: #B6452C;
}

.category-title-form {
	font-size: 20px;
	margin-top: 5px;
	text-align: center;
	color: #B6452C;
}

.annoucement-form {
	float: left;
	background: #B6452C;
	width: 35%;
	height: 30%;
	margin-top: 30px;
	margin-left: 10%;
	border-radius: 15px;
	box-shadow: 12px 0 20px 0 BLACK;
}

.image-form {
	width: 90%;
	margin-left: 5%;
}

.header-form {
	height: 40px;
	background: #DDBC95;
	margin-bottom: 20px;
	margin-top: 15px;
}

.announcement-content-form {
	margin-left: 10px;
	margin-top: 10px;
	font-style: normal;
	font-family: 'FranchiseRegular';
	color: white;
	font-size: 30px;
}

.title-form {
	margin-left: 10px;
	font-style: italic;
	font-family: 'FranchiseRegular';
	color: #B6452C;
	font-size: 30px;
}

.friend-request {
	position: relative;
}

.friend-request-display {
	display: none;
	position: absolute;
	height: 500px;
	width: 400px;
	top: 35px;
	background: white;
	z-index: 10;
	border-left: solid #EEEEE0 1px;
	border-right: solid #EEEEE0 1px;
	border-bottom: solid #EEEEE0 1px;
	transform: translateX(-88%);
}

.triangle {
	display: none;
	width: 0;
	height: 0;
	border-top-width: 25px;
	border-top-style: solid;
	border-top-color: #ffffff;
	border-right-width: 25px;
	border-right-style: solid;
	border-right-color: #ffffff;
	-ms-transform: rotate(-135deg); /* IE 9 */
	-webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
	transform: rotate(-135deg);
	width: 0;
}

.transform {
	position: absolute;
	top: 26px;
	right: -5px;
}

.container2 {
	width:100%;
	background-color: #DDC5A2;
}

.list-quizzes {
	width: 960px;
	margin: 0 auto;
}

.list-member {
	width:300px;
	display:inline-block;
	float:left;
}
