html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
	color: blue;
}

.content {
	width: 550px;
	margin: 0 auto;
}

.quiz {
	margin-bottom: 15px;
	height: 50px;
	position: relative;
}

.link {
	font-size: 20px;
}

.quiz-name {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.summary {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
